{
  "openapi": "3.0.1",
  "info": {
    "title": "Petter API",
    "description": "Explore our Guides and API Reference to get the most out of Petter.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.getpetter.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/program": {
      "post": {
        "description": "Creates a new Program",
        "requestBody": {
          "description": "Creates a new Program inside Petter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/program/{id}": {
      "get": {
        "description": "Returns Petter Program",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Program",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Program response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single Program based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Program to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Program deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }, 
    "/generate_api_key": {
      "post": {
        "description": "Generates new API Keys for a Program",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "ID of Program to generate new API Keys for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema":{
                  "type":"object",
                  "example": {
                    "program": {
                      "api_keys": {
                        "created_at": "2024-01-25T20:07:18",
                        "is_active": true,
                        "pk_api_key": "c6129dcad3e821169971038f11c568ab",
                        "program_id": "scnTqVLIiIe3lloz",
                        "sk_api_key": "b8bc8ccbacc320dc1b6a1039446f56f4"
                      },
                      "created_at": "2023-11-28T19:29:22",
                      "email": "knox@fetch.com",
                      "logo": "https://boxes.hellosubscription.com/wp-content/uploads/sites/2/2017/05/268462978_398022768735723_8537870983274816492_n.png",
                      "name": "Fetch Test",
                      "program_id": "scnTqVLIiIe3lloz",
                      "updated_at": "2023-11-28T19:29:22"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/offers": {
      "get": {
        "description": "Gets offers for Program",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Program to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Program deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/transactions/token": {
      "post": {
        "description": "Generate an Authentication Token to securely view transactions.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Program to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Program deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/verify/{token}": {
      "get": {
        "description": "Verify an Authentication Token",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "Authentication Token to Verify",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication Token verified",
            "content": {
              "application/json": {
                "schema": {
                  "type":"object",
                  "example": {
                      "token": "1f9226cf4a4b6b1b43b3140180ee34f4",
                      "user_id": "knoxtest1"
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/cardlinking/token": {
      "post": {
        "description": "Generate an Authentication Token to securely link a card.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Program to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Program deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/balance/{id}": {
      "get": {
        "description": "Get updated cash back balance for Account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Program deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name",
          "email"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "email": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "logo"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              },
              "logo": {
                "description": "Tag to specify the type",
                "type": "string"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "API-Key"
      }
    }
  }
}